{% extends "base.html" %}
{% block content %}
    <h2>{{ country.name }}</h2>
    <table id="datapoints">
        <thead>
            <tr>
                <th scope="col">Indicator ID</th>
                <th scope="col">Year</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for datapoint in datapoints %}
            <tr class="{% cycle 'odd' 'even' %}"><td>{{ datapoint.indicator.id }}</td><td>{{ datapoint.year }}</td><td>{{ datapoint.value }}</td></tr>
            {% empty %}
                <tr><td>Sorry, no data points in this list!</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}